head
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(content="width=device-width, initial-scale=1" name="viewport")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	title Catalog Online AVON
	link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
	meta(itemprop="title" name="title" content="Catalog Online AVON")
	meta(itemprop="description" name="description" content="Catalog Online AVON")
	meta(itemprop="keywords" name="keywords" content="")
	meta(itemprop="image" name="image" content="assets/templates/book/ogimage_00.jpg")
	meta(name="robots" content="index, follow")
	meta(property="og:title" content="Catalog Online AVON")
	meta(property="og:description" content="Catalog Online AVON")
	meta(property="og:url" content="")
	meta(property="og:locale" content="ru_RU")
	meta(property="og:type" content="website")
	meta(property="og:site_name" content="Catalog Online AVON")
	meta(property="og:image" content="assets/templates/book/ogimage_00.jpg")
	meta(property="og:image:width" content="1920")
	meta(property="og:image:height" content="1080")
	meta(property="og:image:type" content="image/jpeg")
	meta(property="og:image" content="assets/templates/book/ogimage_00.jpg")
	meta(property="og:image:width" content="1920")
	meta(property="og:image:height" content="1080")
	meta(property="og:image:type" content="image/jpeg")
	style
		="\n"
		include ../../../docs/assets/templates/book/css/appcss.css
		include ../../../docs/assets/templates/book/css/main.css