doctype html
html(lang="ru")
	include inc/head
	body
		.container-full
			.row
				.avoncatalog.container
					
		script
			="\n"
			include ../../docs/assets/templates/book/js/appjs.js
			include ../../docs/assets/templates/book/js/main.js