doctype html
html(lang="ru")
	include inc/head
	body
		.container-full
			.row
				.avoncatalog.container
					
		script
			="\n"
			include ../../bower_components/yepnope/dist/yepnope-2.0.0.min.js
		script
			="\n"
			include inc/yapnope.js
		
			